{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Image histogram</h1>
    <h4>
        Choose an image:
    </h4>
    <p>
        <select name="image_id" id="image_id" class="form-control">
            {% for image in images %}
              <option value="{{ image }}" SELECTED>{{ image }}</option>
            {% endfor %}
        </select>
    </p>
    <button type="button" id="submit-btn" class="btn btn-dark mb-4" >Get histogram</button>
    <div class="container" id="img-container">
      <div class="row">
        <div class="col-sm">
          <img class="large-front-thumbnail" id="img-thumbnail" height="300"/>
        </div>
        <div class="col-sm">
          <canvas id="canvas-histogram" width="512" height="300"></canvas>
        </div>
      </div>
    </div>

</div>

    <script src="{{ "static/histogram.js" }}"</script>

{% endblock %}